html {
  font-size: 130%;
}

.typewriter {
  position: center;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}

body,html,.inner,.collapse,.navbar{
  background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
}

.bodylogin {
  background-color: #3498DB;
  font-family: "Arial", sans-serif;
  padding: 50px;
}

.containerlogin {
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
}

.h1login {
  width: 70%;
  color: #777;
  font-size: 32px;
  margin: 28px auto;
  margin-bottom: 20px;
  text-align: center;

}

.formlogin {

  text-align: center;
}

.inputlogin {
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border .2s, background-color .2s;
}


.formlogin .btnlogin {
  background-color: #3498DB;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}


