/*Minden html*/

  
  .typewriter {
    position: center;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  
  .typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: 24em;
    }
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, .75);
    }
  
    to {
      border-right-color: transparent;
    }
  }
  
  body,html,.inner,.collapse,.navbar{
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255,255,255,0.5);
  }
  /*Home/mindenidáig/*
  /*Login*/
  .bodylogin {
    background-color: #3498DB;
    font-family: "Arial", sans-serif;
    padding: 50px;
  }
  
  .containerlogin {
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .h1login {
    width: 70%;
    color: #777;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
  
  }
  
  .formlogin {
  
    text-align: center;
  }
  
  .inputlogin {
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
  }
  

.navbar-nav{
  font-size: 40px;
}

  .formlogin .btn {
    background-color: #3498DB;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
  }
  
  .projectlist{
    list-style-type: none;
}
/*Login idáig*/

.rolam {
    list-style-type: circle;
  }
  
  
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
body {
    background-color: #111111;
}

div {
    margin-top: 90px;
    padding: 0;
    font-size: large;
    font-family: 'Monoton', cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    color: red;
}

div p {
    margin: 5px;
}

#error:hover {
    text-shadow: 0 0 200px #ffffff, 0 0 80px #008000, 0 0 6px #0000ff;
}

#code:hover {
    text-shadow: 0 0 100px red, 0 0 40px FireBrick, 0 0 8px DarkRed;
}

#error {
    color: #fff;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
}

#error span {
    animation: upper 6s linear infinite;
}

#code span:nth-of-type(2) {
    animation: lower 9s linear infinite;
}

#code span:nth-of-type(1) {
    text-shadow: none;
    opacity: .4;
}

@keyframes upper {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: .99;
        text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes lower {
    0%,
    12%,
    18.999%,
    23%,
    31.999%,
    37%,
    44.999%,
    46%,
    49.999%,
    51%,
    58.999%,
    61%,
    68.999%,
    71%,
    85.999%,
    96%,
    100% {
        opacity: 0.99;
        text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    }
    19%,
    22.99%,
    32%,
    36.999%,
    45%,
    45.999%,
    50%,
    50.99%,
    59%,
    60.999%,
    69%,
    70.999%,
    86%,
    95.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}