html{
    background-color: aquamarine;
}

.header{
    background-color: aqua;
}

.valaszto{
    background-color: aquamarine;
    position: relative;
}

div{
    background-color: aquamarine;
}

.copyright{
        position: center;
}