{% extends "base.html" %}

{% block kontent %}
    <strong>
        <p class="typewriter">Üdvözöllek a weboldalamon!</p>
    </strong>

    <div class="wrapper style3">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-8 col-12-medium">
                        <div>
                            <h2 class="Rolam">Rólam <button onclick="location.href='/rolam'" type="button"
                                    class="btn btn-sm btn-primary">Tovább olvasom</button></h2>
                        </div>
                        <!--Poszt cím-->
                        <section class="box article-list">
                            <h2 class="icon fa-file-alt">Posztok</h2>
                            <span>(Itt csak a friss posztok jelennek meg) <button onclick="location.href='/posztok'"
                                    type="button" class="btn btn-sm btn-danger">Tovább
                                    olvasom</button></span>

                            <!--Posztok-->

                            <article class="box excerpt">
                                <a class="image left"><img src="#" alt="" /></a>
                                <div>
                                    <header>
                                        <span class="date">December 12</span>
                                        <h3>Elindult a weboldalam.</h3>
                                    </header>
                                    <p></p>
                                </div>
                            </article>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!--amit használtam kódot-->
<!--https://getbootstrap.com/-->

</html>

{% endblock %}