{% extends "base.html" %}


{% block kontent %}
    <h1>Projektek</h1>
</header>

<body>
    <div>
        <ul>
            <li class="projectlist">Saját Alkalmazás V3 <a target="_blank" href="https://github.com/gbenjii/alkalmazas">Github link</a> Feltöltve: 2024-12-11</li>
            <li class="projectlist"><a target="_blank" href=""></a></li>
            <li class="projectlist"><a target="_blank" href=""></a></li>
            <li class="projectlist"><a target="_blank" href=""></a></li>
        </ul>
    </div>
    
</body>


</html>
{% endblock %}