{% extends "base.html" %}


{% block kontent %}

    <div class="wrapper style3">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-8 col-12-medium">
                        <div>
                            <h2 class="Rolam">Rólam
                        </div>
                        <ul>
                            <li class="rolam">15 éves vagyok.</li>
                            <li class="rolam">Szeretek Programozni meg Bármi ami informatika és az elektronika is érdekel.</li>
                            <li class="rolam">Szeretek sokat játszani.</li>
                            <li class="rolam">Szertek a szabadba lenni Biciklizni túrázni stb.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</html>
{% endblock %}